.carousel-custom {
  width: 100%; /* Ensure the carousel takes up the full width of the container */
  margin: auto; /* Center the carousel */
}

.carousel-custom .carousel-item img {
  width: 100%; /* Ensure the images fit within the new dimensions */
  height: auto; /* Maintain aspect ratio */
}
