.carousel-custom {
    width: 80%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the carousel */
  }
  
  .carousel-custom .carousel-item img {
    height: 500px; /* Adjust this value as needed */
    object-fit: cover;
  }
  